<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{.title}}</title>
</head>

<body>
    <form action="/admin/logout" method="post" >
        <input type="submit" value="注销"/>
    </form>
    <a href="/admin/class">教学班管理<a><br><br>

    <a href="/admin/course">课程管理<a><br><br>

    <a href="/admin/student">学生管理<a><br><br>

    <a href="/admin/teachingAssistant">助教管理<a><br><br>

    <a href="/admin/teacher">老师管理<a><br><br>

    教学班管理<br><br>
        为教学班增加学生<br><br>
        为教学班增加助教<br><br>
</body>
</html>
