<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{.title}}</title>
</head>

<body>
    <form action="/admin/logout" method="post" >
        <input type="submit" value="注销"/>
    </form>
    <form action="/admin/teachingAssistant" method="post" >
        <div style="position:fixed; top:0; right:0">
            {{range $item := .items}}
                <input type="text" name="{{$item}}" placeholder="{{$item}}"/><br>
            {{end}}
            <input type="submit" name="submit" value="增加"/><br>
        </div>
    </form>
    <form action="/admin/teachingAssistant" method="post" >
            {{range $item := .items}}
                <input type="text" name="{{$item}}" placeholder="{{$item}}"/><br>
            {{end}}
            <input type="submit" name="submit" value="搜索"/><br>
        <br>助教列表<br>
        <input type="submit" name="submit" value="上一页"/>
        <input type="text" name="page" value="{{.page}}"/>
        <input type="submit" name="submit" value="转到"/>
        <input type="submit" name="submit" value="下一页"/>
        <input type="submit" name="submit" value="显示全部"/>
    </form>
    <table style="width:100%" border="1">
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>性别</td>
            <td>电子邮箱</td>
            <td>电话</td>
            <td>操作</td>
        </tr>
    {{range $teachingAssistant := .teachingAssistants}}
        <tr>
            <td>{{$teachingAssistant._id}}</td>
            <td><a href="/user/teachingAssistant/{{$teachingAssistant._id}}">{{$teachingAssistant.name}}</a></td>
            <td>{{$teachingAssistant.sex}}</td>
            <td>{{$teachingAssistant.email}}</td>
            <td>{{$teachingAssistant.phone}}</td>
            <td><a href="/user/teachingAssistant/{{$teachingAssistant._id}}/remove">删除助教</a></td>
        </tr>
    {{end}}
    </table>
</body>
</html>
