<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{.title}}</title>
</head>

<body>
    <form action="/user/{{.collection}}/{{.id}}/security/questions/update/by/password" method="post">
        <input type="text" name="password" placeholder="请输入密码"/> <br />
        <input type="text" name="question1" placeholder="请输入问题1" /> <br />
        <input type="text" name="answer1" placeholder="请输入答案1" /> <br />
        <input type="text" name="question2" placeholder="请输入问题2" /> <br />
        <input type="text" name="answer2" placeholder="请输入答案2" /> <br />
        <input type="text" name="question3" placeholder="请输入问题3" /> <br />
        <input type="text" name="answer3" placeholder="请输入答案3" /> <br />
        <input type="submit" value="修改安全问题"/>
    </form>
</body>
</html>