<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{.title}}</title>
</head>

<body>
    课程名称：{{.class.course}}<br>
    学年：{{.class.year}}<br>
    学期：{{.class.semester}}<br>
    上课时间和地点：<br>
    {{range $classroom := .class.classrooms}}
        &nbsp&nbsp&nbsp&nbsp  {{$classroom.time}} 
        &nbsp&nbsp&nbsp&nbsp  {{$classroom.position}} <br>
    {{end}}
    <a href="/class/{{.class._id}}/introduction">课程介绍</a><br>
    <a href="/class/{{.class._id}}/teachingsyllabus">课程大纲</a><br>
    <a href="/class/{{.class._id}}/announcement">课程公告</a><br>
    <a href="/class/{{.class._id}}/material">课件及资料</a><br>
    <a href="/class/{{.class._id}}/assignment">作业</a><br>
    <a href="/class/{{.class._id}}/forum">讨论区</a><br>
    老师：
    {{range $teacher := .class.teachers}}
        <a href="/user/teacher/{{$teacher.id}}">{{$teacher.name}}</a>
    {{end}}
    <br>
    {{if .admin}}
        <form action="/class/{{.class._id}}/teachingAssistant/update" method="post" >
            <input type="text" name="ID" placeholder="请输入助教ID" />
            <input type="text" name="ID" placeholder="请输入助教姓名" />
            <input type="submit" name="submit" value="更改助教"/>
        </form>
    {{end}}
    助教：<a href="/user/teachingAssistant/{{.class.teachingassistantid}}">{{.class.teachingassistant}}</a><br>
    {{if .PowerStudentList}}
        学生列表：<br>
        {{range $student := .class.students}}
            <a href="/user/student/{{$student.id}}">{{$student.name}}</a>
        {{end}}
    {{end}}
    <br>
</body>
</html>
