<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{.title}}</title>
</head>

<body>
    <a href="/class/{{.id}}">返回教学班主页</a><br><br>
        课程公告<br><br>
    {{if .power}}
        <form action="/class/{{.id}}/announcement/add" method="post">
            <input type="text" name="title" placeholder="请输入公告标题" /><br>
            <textarea style="height: 200px; width: 300px" name="content" placeholder="请输入公告内容"></textarea><br>
            <input type="submit" value="新增课程公告"/>
        </form>

        {{range $announcement := .announcements}}
            {{$announcement.time}}
            <br>
            <form action="/class/{{$.id}}/announcement" method="post">
                <input type="text" name="time" value="{{$announcement.time}}" hidden/>
                <input type="text" name="title" value="{{$announcement.title}}" /><br>
                <textarea style="height: 200px; width: 300px" name="content">{{$announcement.content}}</textarea><br>
                <input type="submit" name="submit" value="更改课程公告"/>
                <input type="submit" name="submit" value="删除课程公告"/>
            </form>
        {{end}}
    {{else if .permission}}
        {{range $announcement := .announcements}}
            {{$announcement.time}} 
            {{$announcement.title}}<br>
            {{$announcement.content}}<br><br>
        {{end}}
    {{end}}
</body>
</html>
