<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{.title}}</title>
</head>

<body>
    {{if .powers.PowersControl}}
        <a href="/class/{{.class._id}}/powers">设置班级权限</a><br><br>
    {{end}}
    课程名称：{{.class.course}}<br><br>
    学年：{{.class.year}}<br><br>
    学期：{{.class.semester}}<br><br>
    上课时间和地点：<br>
    {{range $classroom := .class.classrooms}}
        &nbsp&nbsp&nbsp&nbsp  {{$classroom.time}}
        &nbsp&nbsp&nbsp&nbsp  {{$classroom.position}} <br>
    {{end}}<br>
    <a href="/class/{{.class._id}}/introduction">课程介绍</a><br><br>
    <a href="/class/{{.class._id}}/teachingsyllabus">课程大纲</a><br><br>
    <a href="/class/{{.class._id}}/announcement">课程公告</a><br><br>
    <a href="/class/{{.class._id}}/material">课件及资料</a><br><br>
    <a href="/class/{{.class._id}}/assignment">作业</a><br><br>
    <a href="/class/{{.class._id}}/forum">讨论区</a><br><br>
    老师：
    {{range $teacher := .class.teachers}}
        <a href="/user/teacher/{{$teacher.id}}">{{$teacher.name}}</a>
    {{end}}
    <br>
    {{if .admin}}
        <br>
        <form action="/class/{{.class._id}}/teachingAssistant/update" method="post" >
            <input type="text" name="ID" placeholder="请输入助教ID" />
            <input type="text" name="Name" placeholder="请输入助教姓名" />
            <input type="submit" name="submit" value="更改助教"/>
        </form>
    {{end}}
    <br>
    助教：<a href="/user/teachingAssistant/{{.class.teachingassistantid}}">{{.class.teachingassistant}}</a><br>
    {{if .admin}}
        <br>
        <form action="/class/{{.class._id}}/student/add" method="post" >
            <input type="text" name="ID" placeholder="请输入学生ID" />
            <input type="text" name="Name" placeholder="请输入学生姓名" />
            <input type="submit" name="submit" value="增加学生"/>
        </form>
    {{end}}<br>
    {{if .powers.MakeTeam}}
        <form action="/class/{{.class._id}}/team/make" method="post">
            组队设置：<br><br>
            <table>
                <tr>
                    <td>学生学号</td>
                    <td>学生姓名</td>
                    <td>所在小组</td>
                    <td>是否为组长</td>
                </tr>
            {{range $student := .class.students}}
                <tr>
                    <td>{{$student.id}}<input type="text" name="ID" value="{{$student.id}}" hidden/></td>
                    <td><a href="/user/student/{{$student.id}}">{{$student.name}}</a></td>
                    <td><input type="text" name="Team" placeholder="请输入组名" value="{{$student.team}}"/></td>
                        <td>
                        {{if $student.teamleader}}
                            是<input type="radio" name="TeamLeader{{$student.id}}" value="true" checked/>
                            否<input type="radio" name="TeamLeader{{$student.id}}" value="false"/>
                        {{else}}
                            是<input type="radio" name="TeamLeader{{$student.id}}" value="true"/>
                            否<input type="radio" name="TeamLeader{{$student.id}}" value="false" checked/>
                        {{end}}
                        </td>
                </tr>
            {{end}}
            </table>
            <input type="submit" name="submit" value="提交组队信息"/>
        </form>
    {{end}}<br><br>
    {{if .powers.StudentList}}
        学生列表：<br><br>
        {{range $student := .class.students}}
            <a href="/user/student/{{$student.id}}">{{$student.name}}</a>
            {{if $.admin}}
                <a href="/class/{{$.class._id}}/student/remove/{{$student.id}}">删除</a><br>
            {{end}}
        {{end}}
    {{end}}
    <br>
</body>
</html>
