<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{.title}}</title>
</head>

<body>
     <form action="/user/{{.collection}}/{{.id}}/password/forget" method="post">
        问题1: {{.question1}}<br>
        <input type="text" name="answer1" value="3140102431"/> <br />
        问题2: {{.question2}}<br>
        <input type="text" name="answer2" value="徐亮"/> <br />
        问题3: {{.question3}}<br>
        <input type="text" name="answer3" value="计算机科学与技术学院"/> <br />
        请输入新密码<br>
        <input type="text" name="newPassword" value="233"/> <br />
        <input type="submit" name="submit" value="找回密码"/>
    </form>
</body>
</html>
